[submodule "sublime-text-dev"]
	path = sublime-text-dev
	url = https://aur.archlinux.org/sublime-text-dev.git
[submodule "z"]
	path = z
	url = https://aur.archlinux.org/z.git
[submodule "discord"]
	path = discord
	url = https://aur.archlinux.org/discord.git
[submodule "ctop"]
	path = ctop
	url = https://aur.archlinux.org/ctop.git
[submodule "google-chrome"]
	path = google-chrome
	url = https://aur.archlinux.org/google-chrome.git
[submodule "shellcheck-static"]
	path = shellcheck-static
	url = https://aur.archlinux.org/shellcheck-static.git
[submodule "alacritty-git"]
	path = alacritty-git
	url = https://aur.archlinux.org/alacritty-git.git
[submodule "libc++"]
	path = libc++
	url = https://aur.archlinux.org/libc++.git
[submodule "slack-desktop"]
	path = slack-desktop
	url = https://aur.archlinux.org/slack-desktop.git
[submodule "networkmanager-l2tp"]
	path = networkmanager-l2tp
	url = https://aur.archlinux.org/networkmanager-l2tp.git
[submodule "kubernetes"]
	path = kubernetes
	url = https://aur.archlinux.org/kubernetes.git
[submodule "kubernetes-helm"]
	path = kubernetes-helm
	url = https://aur.archlinux.org/kubernetes-helm.git
[submodule "minikube"]
	path = minikube
	url = https://aur.archlinux.org/minikube.git
[submodule "docker-machine-driver-kvm2"]
	path = docker-machine-driver-kvm2
	url = https://aur.archlinux.org/docker-machine-driver-kvm2.git
